*{
    margin:auto;
    padding:auto;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
    /* font-family: 'Poppins', sans-serif;
    background: #f0f0f0; */
}
#main{
    width:100%;
    background-color: aliceblue;
}
#home{
width: 100% ;
min-height: 100vh;
/* border: 2px solid black; */
}
#nav{
    width: 100%;
   padding: 30px 50px;
}
#nav img{
    width: 120px;
}
